{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>회원가입</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <!-- res_data의 key값과 매칭됨 -->
        {{ error }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">                    
        <form method="POST" action=".">
            <!-- 크로스 도메인 막는용도로 암호화된 정보를 넣어준다 -->
            {% csrf_token %}
            <div class="form-group">
                <label for="username">사용자 이름</label>
                <!-- name은 key값으로 활용한다 -->
                <input 
                type="text" 
                class="form-control" 
                id="username" 
                placeholder="사용자 이름"
                name="username"
                >
            </div>
            <div class="form-group">
                <label for="username">사용자 이메일</label>
                <!-- name은 key값으로 활용한다 -->
                <input 
                    type="email" 
                    class="form-control" 
                    id="useremail" 
                    placeholder="사용자 이메일"
                    name="useremail"
                    >
                </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input 
                type="password" 
                class="form-control" 
                id="password" 
                placeholder="비밀번호"
                name="password"
                >
            </div>
            <div class="form-group">
                <label for="re-password">비밀번호 확인</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="re-password" 
                    placeholder="비밀번호 확인"
                    name="re-password"
                    >
                </div>                        
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
</div>
{% endblock %}